<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Receipt Home</title>

<!-- Latest compiled and minified CSS -->

<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
	<!-- 	<h1>My Receipts</h1>

	<table>
		<tr>
			<th>ID</th>
			<th>Description</th>
		</tr>
		<tr th:each="receipt : ${receipts}">
			<td th:text="${receipt.id}">123</td>
			<td th:text="${receipt.description}">Example Receipt</td>
		</tr>
	</table> -->

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">

					<div class="panel-heading">
						<h1 class="panel-title">My Receipts!</h1>
					</div>
					<div class="panel-body">
						<div class="table-responsive"
							th:if="${not #lists.isEmpty(receipts)}">
							<table class="table table-hover ">
								<thead class="thead-inverse">
									<tr>
										<th>ID</th>
										<th>Description</th>
										<th>View</th>
										<th>Update</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tr th:each="receipt : ${receipts}">
									<td th:text="${receipt.id}">334</td>
									<td th:text="${receipt.description}">Receipt 3</td>
									<td><a href="#" th:href="@{'/receipt/' + ${receipt.id} + '/show'}">View</a></td>
									<td><a href="#" th:href="@{'/receipt/' + ${receipt.id} + '/update'}">Update</a></td>
									<td><a href="#" th:href="@{'/receipt/' + ${receipt.id} + '/delete'}">Delete</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>



</html>